.task-item {
  border-radius: 10px;
  width: 84rem;
  background: #2a2a2e;
  margin-bottom: 3.6rem;
}

.task-item:last-child {
  margin-bottom: 0;
}

.heading {
  font-weight: 600;
  font-size: 1.6rem;
  color: #07070a;
  background: #b1de8e;
  padding: 0.9rem 0 0.9rem 1.6rem;
  border-radius: 10px 10px 0 0;
}

.tasks {
  list-style: none;
  padding-left: 1.6rem;
  padding-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.tasks li {
  display: flex;
  gap: 1.2rem;
  align-items: flex-start;
  margin-bottom: 0.8rem;
}

.tasks li img {
  height: 2rem;
  width: 2rem;
  margin-top: 0.2rem;
}

.hr {
  border: 0;
  height: 0.05rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
}

.task-item a:link,
.task-item a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ccc;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.task-item a:hover,
.task-item a:active {
  color: #888;
  text-decoration: underline;
}

.task-item__description {
  display: flex;
  flex-direction: column;

  gap: 0.2rem;
}

.task-item__text {
  font: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  color: #ffffff;
}

.actions {
  display: flex;
  gap: 0.8rem;
  margin-left: auto;
  margin-right: 1.6rem;
}

.btn {
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn img {
  width: 2rem;
  height: 2rem;
}

.task-details {
  margin-left: 3.2rem;
}

.description {
  font-size: 1.6rem;
  color: #666;
}

.date {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  color: #d24b4b;
}

/**************************/
/* BELOW 1376px  */
/**************************/
@media (max-width: 86em) {
  .task-item {
    width: 64rem;
  }
}

/**************************/
/* BELOW 480px  */
/**************************/

@media (max-width: 30em) {
  .task-item {
    width: 46rem;
  }
}
